<div class="box container pagination">
    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}" class="page-arrow">&#8592;</a>
    {% endif %}

    <div class="pagination-numbers">
        {% for num in page.paginator.page_range %}
            {% if num == page.number %}
                <span class="page-number active">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}" class="page-number">{{ num }}</a>
            {% endif %}
        {% endfor %}
    </div>

    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}" class="page-arrow">&#8594;</a>
    {% endif %}
</div>
